@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
@import "prism.css";
/*! purgecss end ignore */

/*Custom Styles Here*/

.btn-glimmer::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -60%;
  width: 60%;
  height: 180%;
  background: linear-gradient(120deg, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.0) 100%);
  transform: skewX(-20deg);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;
}

.btn-glimmer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -48px;
  width: 48px;
  height: 32px;
  background: url("data:image/svg+xml;utf8,<svg width='48' height='32' viewBox='0 0 48 32' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M24 2C24.5523 2 25 8 25 16C25 24 24.5523 30 24 30C23.4477 30 23 24 23 16C23 8 23.4477 2 24 2ZM24 30C24.5523 30 25 24 25 16C25 8 24.5523 2 24 2C23.4477 2 23 8 23 16C23 24 23.4477 30 24 30ZM12 16C12 15.4477 16.4772 15 24 15C31.5228 15 36 15.4477 36 16C36 16.5523 31.5228 17 24 17C16.4772 17 12 16.5523 12 16ZM36 16C36 15.4477 31.5228 15 24 15C16.4772 15 12 15.4477 12 16C12 16.5523 16.4772 17 24 17C31.5228 17 36 16.5523 36 16ZM41 8C41 7.44772 41.4477 7 42 7C42.5523 7 43 7.44772 43 8C43 8.55228 42.5523 9 42 9C41.4477 9 41 8.55228 41 8ZM41 12C41.5523 12 42 8.55228 42 8C42 7.44772 41.5523 4 41 4C40.4477 4 40 7.44772 40 8C40 8.55228 40.4477 12 41 12ZM38 8C38 7.44772 38.4477 7 39 7C39.5523 7 40 7.44772 40 8C40 8.55228 39.5523 9 39 9C38.4477 9 38 8.55228 38 8ZM41 4V12M37 8H45' stroke='white' stroke-width='1.5' stroke-linecap='round'/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 2;
}

.btn-glimmer:hover::before {
  animation: glimmer-move 0.9s cubic-bezier(0.4,0,0.2,1) forwards;
  opacity: 1;
}

.btn-glimmer:hover::after {
  animation: star-glimmer-move 0.9s cubic-bezier(0.4,0,0.2,1) forwards;
  opacity: 1;
}

@keyframes glimmer-move {
  0% {
    left: -60%;
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
  100% {
    left: 120%;
    opacity: 0;
  }
}

@keyframes star-glimmer-move {
  0% {
    left: -48px;
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: calc(100% + 8px);
    opacity: 0;
  }
}

.cloud-bg {
  background: #fff;
  border-radius: 60% 40% 65% 35% / 55% 60% 40% 45%;
  box-shadow: 10px 10px 0 0 #ededed;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  width: 100%;
  max-width: 1100px;
}
@media (max-width: 1023px) {
  .cloud-bg {
    padding: 2rem 0.5rem;
    width:100%;
    max-width:100%;
    border-radius:8px;
    margin: 0px 20px;
  }
}
